@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
body{
    background-image: linear-gradient(120deg,red,blue);
}
.row1{
    display:flex;
    background-color:black;
    height:80px;
   
}
#btn{
    border:none;
    background:none;
    color:white;
    margin-left:30px;
    margin-top:20px;
    font-size:25px;
    font-weight:bold;

}
#btn:hover{
    background-image:linear-gradient(120deg,orange,yellow);
    border-radius:20px;
    border:2px solid black;
    color:white;
    

}
#image{
    width:80px;
    height:80px;
    background-color:white;
    border:5px solid black;
    margin-left:none;
}
#contactbtn{
    border:none;
    background:none;
    color:white;
    margin-left:695px;
    margin-top:20px;
    font-size:25px;
    font-weight:bold;

}
#contactbtn:hover{
    background-image:linear-gradient(120deg,orange,yellow);
    border-radius:20px;
    color:white;
    
}
main{
    font-family:"Quicksand",sans-serif;
    min-height:100vh;
    width:80%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
}
main h2{
    font-size:3em;
    font-weight:bold;
    color:white;
    margin-top:20px;
}
.faq{
    max-width:700px;
    margin-top:2rem;
    padding-bottom:1rem;
    border-bottom:2px solid white;
    cursor: pointer;
}
.question {
    display:flex;
    justify-content:space-between;
    align-items:center;

}

.question h3{
    font-size:1.8rem;
    color:white;
    font-weight:bold;
}
.answer p{
    padding-top: 1rem;
    line-height:1.6;
    font-size:1.4rem;
    color:white;
}
.answer{
    max-height:0;
    overflow:hidden;
    transition:max-heigth 1s ease;
}
.faq.active .answer{
    max-height:300px;
    animation:fade 1s ease-in-out;
}
.faq.active svg{
    transform: rotate(180deg);
}
svg{
    transition: transform 0.5s ease-in;
}
#footer{
    display:flex;
    height:400px;
    background-image:url(https://wallpaperaccess.com/full/3940531.jpg);
    background-size: 1396px 500px;
    color:white;   
}

#contact_details{
   margin-top:57px;
   width:500px;
   margin-left:60px;
   margin-right:20px;
   
}
#links{
    margin-top:57px;
    width:400px;
    margin-left:100px;
}
#quick_links{
    width:350px;
    margin-top:57px;
    margin-left:80px;
}
ul li{
    list-style-type:none;
    font-size:22px;
    font-weight:bold;

}
 ul li a{
    text-decoration:none;
    font-weight:bolder;  
}
#quick_links ul li a:hover::before{
    content:"-->";
    color:yellow;
    font-size:20px;
    text-shadow: 0 0 10px #fff;
}
#quick_links ul li a:hover{
    color:white;
    text-shadow: 0 0 10px #03bcf4;
}
ul li a i{
    font-size:40px;
    color:yellow;
}
ul li a i:hover{
    font-size: 42px;
    text-shadow:0 0 10px #03bcf4;
}
#links ul{
    display:flex;
}
#links ul li a{
    display:inline-block;
    width:60px;
    height:80px;
    margin-top:40px;
}
#quick{
    margin-left:30px;

}
#map{
    color:white;
}
.topbtn{
    position:fixed;
    font-size:47px;
    color:white;
    opacity:0.5;
    bottom:30px;
    right:30px;    
}
.topbtn:hover{
    color:white;
    opacity:0.5;
    font-size:49px;
}
@keyframes fade{
    from{
        opacity:0;
        transform:translateY(-10px);
    }
}

@media(max-width:1300px) and (min-width:1200px){
    #btn{
        margin-left:15px;
    }
    #contactbtn{
        margin-left:660px;
    }
    #footer{
        background-size: 1336px 500px;
    }
    ul li{
        font-size:20px;
        font-weight: bold;
    }
    ul li a{
    font-size:21px;
         }
}
